.greybar {
    width:100%;
    height:90px;
    background:$greybar-color;
    clear:both;
    padding-top:30px;
    @include break(0, 459px) {
        display:none;
    }
}
footer {
    width:100%;
    height:120px;
    background:$footer-color;
    text-align:center;
    color: $nav-hover;
    padding-top:50px;
    @include break(0, 459px) {
        text-align:center;
    }
    p, img {
        float:none;
        margin:0; 
    }
}

.social-media {
    margin:0 auto;
    width:165px;
    div {
        float: $float;
        margin-right: 5px;
    }
    a {
        display: block;
        width: 36px;
        height: 36px;
        text-indent: -9999px;
    }
}


.social-media div.one       {background:$social-img 0 0;}
.social-media div.two 	    {background:$social-img -38px 0;}
.social-media div.three     {background:$social-img -76px 0;}
.social-media div.four 	    {background:$social-img -114px 0;}