/* MEDIA QUERIES */
@media screen and (max-width:959px) {
    main 						{width:768px;}
    figure						{width:inherit;height:140px;float:none;background-position:center;}
    nav 						{width:inherit;height:50px;float:none;text-align:center;}
    nav ul						{margin-top:0;}
    nav ul li					{font-size:1em;margin:0 10px;}
    header h1 					{font-size:3em;}
    header h2 					{font-size:1.5em;}
    #content 					{width:inherit;}
    #content #products,
    #content #testimonials 		{width:46%;margin:0 2%;}
}
    
@media screen and (max-width:767px) {
main 						{width:460px;}
nav ul li					{font-size:0.8em;margin:0 5px;}
header h1					{font-size:2em;}
header h2 					{font-size:1em;}
header img			 		{margin-bottom:100px;}
header h3					{font-size:1.5em;}
#headline h1 				{font-size:2em;padding-top:50px;}
#content #products,
#content #testimonials 		{width:96%;margin:0 2%;float:none;}
}

@media screen and (max-width:459px) {
main 						{width:300px;}
figure						{background-size:contain;height:100px;}
nav							{margin-bottom:40px !important;}
select              		{width:95%;}
#headline h1 				{font-size:1.5em;padding-top:30px;}
header img			 		{margin-bottom:80px;}
header h1:first-child		{font-size:1.4em;margin-bottom:20px;}
header h2					{font-size:1.4em;}
header h3					{color:#FFF;font-size:1em;}
#content h3					{font-size:1.6em;}
.greybar, article img		{display:none;}
footer						{text-align:center;}
footer p, footer img 		{float:none;margin:0;}
}