figure {
    width: 400px;
    height: $nav-height;
    background: $logo-img no-repeat 0 50px;
    float: $float;
    display: block;
    margin: 0;
    @include break(459px, 959px) {
        width:inherit;
        height:140px;
        float:none;
        background-position:center;
    }
    @include break(0px, 459px) {
        background-size:contain;
        height:100px;
    }
}

nav {
    float: $float;
    width: 540px;
    height: $nav-height;
    text-align: right;
    @include break(459px, 959px) {
        width:inherit;
        height:50px;
        float:none;
        text-align:center;
    }
    @include break(0, 459px) {
		margin-bottom:40px !important;
    }
    ul {
        list-style-type: none;
        margin-top: 95px;
        @include break(0, 959px) {
            margin-top: 0;
        }
        li {
            display: inline;
            font-size: 0.8em;
            margin-right: 10px;
            @include break(0, 767px) {
                font-size:0.8em;
                margin:0 5px;
            }
            @include break(767, 959px) {
                font-size:1em;
                margin:0 10px;
            }
            a {
                color: $nav-color;
                text-decoration: none;
                letter-spacing:-0.1em;
            }
            a:hover {
                color: $nav-hover;
            }
        }
    }
}

