// body                        
$font-family: 'Roboto', sans-serif;
$font-size: 1em;
$line-height: 2em;

// main                        
$width: 940px;
$nav-height: 190px;

// navigation
$float:left;
$logo-img: url('../../images/logo.png');
$nav-color: #e65c43;
$nav-hover: #fff;

//  header
$header-line-height: 0;
$gray: #666;

// content
$content-width: 460px;
$headline-color: #F25C43;

// footer
$greybar-color: #F5F6F6;
$footer-color: #30353D;
$social-img: url('../../images/social-media.png');